<style>
  .container{
    text-align: center;
  }
 #animals {
      display: flex;
  }
  #animals li {
      list-style: none;
      margin : 5px;
  }
  #animals li:hover {
      cursor: pointer;
  }

</style>


{{title}} is running

<div class="container">
  <div *ngIf="selectionAnimal != null">
    <div id="selectionAnimal">
      <img src={{selectionAnimal.img}} alt="" width="300">
      <h1>{{selectionAnimal.name}}</h1>
      <p>{{selectionAnimal.description}}</p>
    </div>
    <hr>
  </div>

  <ul id="animals">
    <li *ngFor="let item of animals" (click)="select(item)">
      <img src={{item.img}} alt="{{item.name}}" width="150" >
    </li>
  </ul>

</div>



<router-outlet></router-outlet>